# Fetching Data from SQL

This notebook is used to access the neue Fische postgresSQL database to retreive the needed information as a csv file. As this csv file will be part of this project by its end, there is no need to run this notebook. It just serves documentary purposes especially to see the initial query used to generate the csv.

## Connecting to PostgreSQLusing psycopg2

The access to the DB is managed via the `.env`-File, therefore the access data is not part of this repo.

In [31]:
# Necessary imports

import pandas as pd
import psycopg2
import os
from dotenv import load_dotenv

In [38]:
# This code loads the .env and reads the information from it

load_dotenv()

DATABASE = os.getenv('DATABASE')
USER_DB = os.getenv('USER_DB')
PASSWORD = os.getenv('PASSWORD')
HOST = os.getenv('HOST')
PORT = os.getenv('PORT')

In [39]:
# Creating connection object conn while using the connect() method

conn = psycopg2.connect(
    database=DATABASE,
    user=USER_DB,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

Now we can run SQL-Queries with `cur.execute('QUERY')` and then run `cur.fetchall()` to get the data:

In [42]:
# Creating a cursor to execute PostgreSQL commands in a database session with python
cur = conn.cursor()

# Saving the SQL Statement on a separate variabel
query_string = "SELECT * FROM eda.king_county_house_details kchd JOIN eda.king_county_house_sales kchs ON (kchd.id = kchs.house_id) ORDER BY kchd.id"

# Inserting SQL statement along with connection details to be executed in the db Session, importing the data into a pandas dataframe
df = pd.read_sql(query_string, conn)

# Previewing the data
df.head(20)

/var/folders/wg/07rp9njx20s2h8ysbvnfcd400000gn/T/ipykernel_94289/3734866081.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_string, conn)

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,date,price,house_id,id
0,1000102,6.0,3.00,2400.0,9373.0,2.0,NaN,0.0,3,7,...,0.0,98002,47.3262,-122.214,2060.0,7316.0,2015-04-22,300000.0,1000102,2496
1,1000102,6.0,3.00,2400.0,9373.0,2.0,NaN,0.0,3,7,...,0.0,98002,47.3262,-122.214,2060.0,7316.0,2014-09-16,280000.0,1000102,2495
2,1200019,4.0,1.75,2060.0,26036.0,1.0,NaN,0.0,4,8,...,0.0,98166,47.4444,-122.351,2590.0,21891.0,2014-05-08,647500.0,1200019,6730
3,1200021,3.0,1.00,1460.0,43000.0,1.0,0.0,0.0,3,7,...,0.0,98166,47.4434,-122.347,2250.0,20023.0,2014-08-11,400000.0,1200021,8405
4,2800031,3.0,1.00,1430.0,7599.0,1.5,0.0,0.0,4,6,...,0.0,98168,47.4783,-122.265,1290.0,10320.0,2015-04-01,235000.0,2800031,8801
5,3600057,4.0,2.00,1650.0,3504.0,1.0,0.0,0.0,3,7,...,20130.0,98144,47.5803,-122.294,1480.0,3504.0,2015-03-19,402500.0,3600057,3554
6,3600072,4.0,2.75,2220.0,5310.0,1.0,NaN,0.0,5,7,...,NaN,98144,47.5801,-122.294,1540.0,4200.0,2015-03-30,680000.0,3600072,18507
7,3800008,5.0,1.50,1990.0,18200.0,1.0,NaN,0.0,3,7,...,NaN,98178,47.4938,-122.262,1860.0,8658.0,2015-02-24,178000.0,3800008,3198
8,5200087,4.0,2.50,2540.0,5001.0,2.0,0.0,0.0,3,9,...,0.0,98108,47.5423,-122.302,2360.0,6834.0,2014-07-09,487000.0,5200087,21048
9,6200017,3.0,1.00,1340.0,21336.0,1.5,0.0,0.0,4,5,...,0.0,98032,47.4023,-122.273,1340.0,37703.0,2014-11-12,281000.0,6200017,4330
10,7200080,4.0,2.00,1980.0,10585.0,1.5,0.0,0.0,2,6,...,0.0,98055,47.4836,-122.214,1360.0,7810.0,2014-11-04,239000.0,7200080,16702
11,7200179,2.0,1.00,840.0,12750.0,1.0,0.0,0.0,3,6,...,NaN,98055,47.4840,-122.211,1480.0,6969.0,2014-10-16,150000.0,7200179,16801
12,7200179,2.0,1.00,840.0,12750.0,1.0,0.0,0.0,3,6,...,NaN,98055,47.4840,-122.211,1480.0,6969.0,2015-04-24,175000.0,7200179,16802
13,7400062,2.0,1.00,790.0,5240.0,1.0,0.0,0.0,4,6,...,0.0,98118,47.5303,-122.288,1430.0,5320.0,2014-05-21,299800.0,7400062,8500
14,7600057,3.0,2.00,1410.0,2700.0,2.0,0.0,0.0,4,7,...,0.0,98122,47.6029,-122.302,1750.0,4000.0,2014-08-05,520000.0,7600057,4478
15,7600065,3.0,2.25,1530.0,1245.0,2.0,0.0,0.0,3,9,...,0.0,98122,47.6018,-122.297,1530.0,2307.0,2014-06-05,465000.0,7600065,20468
16,7600125,5.0,1.00,3020.0,4800.0,2.0,0.0,0.0,3,7,...,0.0,98122,47.6025,-122.313,1350.0,1307.0,2014-12-18,630000.0,7600125,10411
17,7600136,2.0,2.00,1130.0,1148.0,2.0,NaN,0.0,3,9,...,0.0,98122,47.6023,-122.314,1350.0,1201.0,2014-07-18,411000.0,7600136,20771
18,9000025,2.0,1.00,1420.0,4635.0,2.0,0.0,0.0,4,7,...,19730.0,98115,47.6800,-122.304,1810.0,4635.0,2014-12-03,496000.0,9000025,8669
19,11200070,3.0,2.50,1530.0,3296.0,2.0,0.0,0.0,3,8,...,0.0,98007,47.6181,-122.138,1530.0,4099.0,2014-07-21,570000.0,11200070,10533

In [35]:
# Exporting the data to a csv-file
df.to_csv('data/eda.csv',index=False)

In [36]:
# Closing the connection
conn.close()